<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/css/shared.css">
        <title>Home</title>
    </head>

    <body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><img src="/img/frenzyyellow.png"></a>
                <ul class="right">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/builder">Workout Builder</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <main>
        <h1>placeholder profile</h1>
    </main>

    <footer class="page-footer">
        <div class="container">
            <div>
                <div class="col l6 s12">
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Links</h5>
                    <ul class="row">
                        <li><a href="#!">Home</a></li>
                        <li><a href="#!">How It Works</a></li>
                        <li><a href="#!">Contact</a></li>
                        <li><a href="#!">Terms & Conditions</a></li>
                        <li><a href="#!">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy;2023 FRENZY, All Rights Reserved
            </div>
        </div>
    </footer>
</body>

</html>