<footer class="page-footer">
        <div class="container">
            <div>
                <div class="col l6 s12">
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5>Links</h5>
                    <ul class="row">
                        <li><a href="#!">Home</a></li>
                        <li><a href="#!">How It Works</a></li>
                        <li><a href="#!">Contact</a></li>
                        <li><a href="#!">Terms & Conditions</a></li>
                        <li><a href="#!">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                &copy;2023 FRENZY, All Rights Reserved
            </div>
        </div>
    </footer>