<header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo center"><img src="/img/frenzyyellow.png"></a>
                <ul class="right">
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="/builder">Workout Builder</a></li>
                    <li><a href="/profile">Profile</a></li>
                </ul>
            </div>
        </nav>
    </header>